<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
</head>

<body>
    <div id="header">
        {{ message }}
    </div>

    <div id="noticias">
        <div class="row">
            <div class="col" v-for="noticia in noticias">
                {{noticia.nome}} 
                <br> 
                {{noticia.corpo}}
                <br>
                <button v-on:click="change('{{noticia.nome}}')">Say hi</button>
            </div>
        </div>

        {{atual.nome}}<br/>
        {{atual.corpo}}
    </div>

</body>

</html>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

<script>
    var header = new Vue({
        el: '#header',
        data: {
            message: 'Hello Vue!',
        }
    });

    var noticias = new Vue({
        el: '#noticias',
        data: {
            noticias: [
                {
                    nome: "noticia1",
                    corpo: "corpo da noticia 1"
                },
                {
                    nome: "noticia2",
                    corpo: "corpo da noticia 2"
                }
            ],

            atual: {
                    nome: "noticia Atual",
                    corpo: "corpo da noticia atual"
            },
        }
    });

</script>